{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h3>Dashboard</h3>

<p><strong>Total Sales:</strong> {{ total_sales }}</p>

<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody>
    {% for p in products %}
    <tr>
      <td>{{ p.name }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.stock }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}￼Enter
