{% extends "layout.html" %}
{% block content %}
<h2 class="fw-bold text-white mb-4">Ripoti ya Stoo</h2>
<div class="bg-dark p-3 shadow" style="border-radius: 15px;">
    <div class="table-responsive">
        <table class="table table-dark table-hover align-middle">
            <thead class="text-secondary small">
                <tr><th>BIDHAA</th>{% if session.get('role') == 'admin' %}<th>KUNUNUA</th>{% endif %}<th>KUUZA</th><th>STOCK</th><th>ACTION</th></tr>
            </thead>
            <tbody>
                {% for p in products %}
                <tr>
                    <td class="fw-bold">{{ p.name }}</td>
                    {% if session.get('role') == 'admin' %}<td>{{ "{:,.0f}".format(p.buying_price) }}</td>{% endif %}
                    <td>{{ "{:,.0f}".format(p.selling_price) }}</td>
                    <td><span class="badge {% if p.stock <= 5 %}bg-danger{% else %}bg-primary{% endif %}">{{ p.stock }}</span></td>
                    <td>
                        {% if session.get('role') == 'admin' %}
                        <a href="/delete_product/{{ p.id }}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Una uhakika unataka kufuta bidhaa hii?')"><i class="bi bi-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

