{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4 text-white">
    <h2 class="fw-bold">Usimamizi wa Wafanyakazi</h2>
    <button class="btn btn-primary shadow" data-bs-toggle="modal" data-bs-target="#modalStaff">+ Sajili Muuzaji</button>
</div>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-success">{{ messages[0] }}</div>
  {% endif %}
{% endwith %}

<div class="bg-dark p-4 shadow" style="border-radius: 15px;">
    <h5 class="text-secondary mb-4">Wafanyakazi Waliosajiliwa</h5>
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
                <tr><th>JINA LA MTUMIAJI</th><th>PASSWORD</th><th>ROLE</th></tr>
            </thead>
            <tbody>
                {% for u in users %}
                <tr>
                    <td>{{ u.username }}</td>
                    <td>**** (Imehifadhiwa)</td>
                    <td><span class="badge bg-info">{{ u.role }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modalStaff" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-white text-dark shadow-lg">
            <div class="modal-header border-0">
                <h5 class="modal-title fw-bold">Sajili Akaunti ya Muuzaji</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label fw-bold">Jina la Muuzaji</label>
                        <input type="text" name="username" class="form-control border-dark" placeholder="Mfano: masanja" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold">Namba ya Siri (Password)</label>
                        <input type="text" name="password" class="form-control border-dark" required>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="submit" class="btn btn-primary w-100 py-2 fw-bold">Tengeneza Akaunti</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
￼Enter
