{% extends "base.html" %}
{% block content %}

<div class="row g-3">

  <div class="col-6 col-md-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="card-title">Mauzo ya Leo</div>
        <div class="card-value">Tsh {{ sales_today }}</div>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="card-title">Mapato ya Leo</div>
        <div class="card-value">Tsh {{ revenue_today }}</div>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="card-title">Faida</div>
        <div class="card-value">Tsh {{ profit_today }}</div>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="card-title">Bidhaa Zote</div>
        <div class="card-value">{{ total_products }}</div>
      </div>
    </div>
  </div>

</div>

<hr>

<div class="d-grid gap-2 d-md-flex">
    <a href="{{ url_for('main.add_product') }}" class="btn btn-primary">
        ➕ Ongeza Bidhaa
    </a>
</div>

{% endblock %}
