<!DOCTYPE html>
<html>
<head>
    <title>Business Systems OP</title>
    <style>
        body{
            background:#0f172a;
            color:white;
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
            font-family:Arial;
        }
        .box{
            text-align:center;
        }
        a{
            color:#22c55e;
            font-weight:bold;
            text-decoration:none;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>✅ Mfumo Umeanza Kazi</h1>
        <p>Business Systems Operation</p>
        <a href="/login">Nenda Login</a>
    </div>
</body>
</html>
